
import com.unboundid.ldap.sdk.DN;
import com.unboundid.ldap.sdk.Entry;
import l9g.app.phosy.ucware.phonebook.PhonebookLdapHandler;
import l9g.app.phosy.ucware.phonebook.PhonebookHandler;
import l9g.app.phosy.ucware.UcwareAttributeType;

// input args : Entry entry         (LDAP entry)
//            : LdapUtil ldapUtil

String prefix = "";
String suffix = "";
String syncId = PhonebookLdapHandler.buildSyncId(entry);
String company = ldapUtil.value(UcwareAttributeType.UCW_COMPANY);
String department = ldapUtil.value(UcwareAttributeType.UCW_DEPARTMENT);
String hyperlink = ldapUtil.value(UcwareAttributeType.UCW_HYPERLINK);
String position = ldapUtil.value(UcwareAttributeType.UCW_POSITION);
String phoneNumber = ldapUtil.value(UcwareAttributeType.UCW_PHONENUMBER_HIGH_PRIORITY);
String academicTitle = ldapUtil.value(UcwareAttributeType.LDAP_ACADEMIC_TITLE);
String locality = ldapUtil.value(UcwareAttributeType.LDAP_LOCALITY);

department = department.toUpperCase();

if (academicTitle.trim().length() > 0)
{
  suffix = academicTitle + " (" + department + ")";
}
else
{
  suffix = "(" + department + ")";
}

if (syncId.contains(",o=MY_DOMAIN,"))
{
  company = "MY_COMPANY";
  hyperlink = "https://MY_FQDN";
}

phoneNumber = phoneNumber.trim();
phoneNumber = phoneNumber.replaceAll("\\s+", "");
phoneNumber = phoneNumber.replaceFirst("\\+49", "0");
phoneNumber = phoneNumber.replaceFirst("^00049", "0");
phoneNumber = phoneNumber.replaceFirst("^0049", "0");
phoneNumber = phoneNumber.replaceFirst("^00", "0");
phoneNumber = phoneNumber.replace("(0)", "");

locality = locality.toLowerCase();

if (!phoneNumber.startsWith("0"))
{
  String prefix = "";
  if (syncId.contains(",o=MY_DOMAIN,"))
  {
    prefix = "DEFAULT_PHONE_PREFIX";
    switch (locality)
    {
      case "MY_LOCALITY_1":
        prefix = "LOCALITY_1_PREFIX";
        break;
      case "MY_LOCALITY_2":
        prefix = "LOCALITY_1_PREFIX";
        break;
    }
  }
  
  phoneNumber = prefix + phoneNumber;
}

phoneNumber;  // <= Return value
