target/
logs/
config.xml
config.xml.devel
config.xml.standard
config.xml.rz-phonebook
.DS_Store
aci-sync.log
ldapmigration.jar
docker/data
private/
/jsh/
phosy-tool/
production
secret.*
var/
lastsync.timestamp
lastsync.timestamp*
