<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date{ISO8601} [%thread] %-5level %logger:%line - %yellow(%msg) %n</pattern>
    </encoder>
  </appender>

  <logger name="l9g" level="TRACE" />
   
  <root level="INFO" additivity="false">
    <appender-ref ref="CONSOLE" />
  </root>
  
</configuration>
